.main {
	display: grid;
	grid-template-columns: 1fr 1fr;

	.form {
		margin: auto;
		margin-top: 5em;
		border-radius: 5px;
		padding: 1em;

		.formHeader {
			text-align: center;
			font-size: xx-large;
			padding-bottom: 0;
		}

		.AMPM {
			font-size: large;
		}

		.weekday {
			font-size: large;
		}

		.time {
			text-align: center;
			margin-top: 0em;

			h4 {
				display: inline;
			}
		}

		.newMeeting {
			margin: auto;
			display: block;
			margin-top: 2em;
			padding: 0.5em 1em;
			border: 1px solid black;
			border-radius: 4px;
			color: rgb(57, 57, 177);
			transition: all 250ms linear;

			&:hover {
				color: white;
				background-color: rgb(57, 57, 177);
				transition: all 250ms linear;
				cursor: pointer;
			}
		}

		.label {
			font-size: x-large;
			text-align: center;
			margin-top: 2em;
			margin-bottom: 0.25em;
		}

		.input {
			font-size: large;
			width: 100%;
			box-sizing: border-box;
			border-radius: 2px;
			border: 1px solid black;
		}

		.num {
			width: 3ch;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.err {
			color: red;
		}
	}

	.heading {
		text-align: center;
	}

	.list {
		.labels {
			display: grid;
			grid-template-columns: 0.3fr 2fr 5fr 2fr 1fr;
			padding-left: 2em;
		}

		h4 {
			margin: 0.5em;
		}

		.noMeeting {
			margin: 0.25em 2em;
		}
	}
}
