.main {
	display: grid;
	grid-template-columns: 1.5fr 5fr 2fr 1fr;
	padding: 0.4em;
	border: 1px solid black;

	.link {
		color: black;
		text-decoration: none;
		width: fit-content;

		&:hover {
			text-decoration: underline;
		}
	}

	.delete {
		color: red;
		border-radius: 4px;
		background-color: white;
		border: 1px solid black;
		border: none;

		&:hover {
			color: white;
			background-color: red;
			transition: all 250ms linear;
			cursor: pointer;
		}
	}

	.toggle {
		width: 40px;
		height: 20px;
		display: inline-block;
		border-radius: 10px;
		border: 1px solid black;
		position: relative;
		background: #cccccc;
		transition: background 0.2s;
		margin: auto;
		margin-top: 0;

		&.checked {
			background: #2196f3;
		}

		input[type='checkbox'] {
			opacity: 0;
			height: 0;
			width: 0;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
		}

		span::before {
			content: '';
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background: white;
			position: absolute;
			left: 2px;
			top: 2px;
			transition: transform 0.3s;
		}

		input:checked + span::before {
			transform: translate(20px);
		}
	}
}
